apiVersion: apps/v1
kind: Deployment
metadata:
    name: go-ecommerce-api
    labels:
        app: ecommerce
spec:
    replicas: 3 # High Availability
    selector:
        matchLabels:
            app: ecommerce
    template:
        metadata:
            labels:
                app: ecommerce
        spec:
            containers:
                - name: api
                  image: go-ecommerce:latest
                  imagePullPolicy: IfNotPresent
                  ports:
                      - containerPort: 8080
                  resources:
                      requests: # Requests are what the Scheduler uses to find a node. It guarantees the pod gets at least this much.
                          memory: "64Mi"
                          cpu: "250m"
                      limits: # Limits are the hard cap. If my app has a memory leak and tries to use 129Mi, the Linux kernel (OOM Killer) will kill the pod immediately.
                          memory: "128Mi"
                          cpu: "500m"
                  livenessProbe: # Self Healing: Kubernetes asks "are you alive?" every 10 seconds.
                      httpGet:
                          path: /
                          port: 8080
                      initialDelaySeconds: 5
                      periodSeconds: 10
