apiVersion: apps/v1
kind: Deployment
metadata:
    name: go-ecommerce-api
    labels:
        app: ecommerce
spec:
    replicas: 3 # High Availability
    selector:
        matchLabels:
            app: ecommerce
    template:
        metadata:
            labels:
                app: ecommerce
        spec:
            containers:
                - name: api
                  image: go-ecommerce:latest
                  imagePullPolicy: IfNotPresent
                  ports:
                      - containerPort: 8080
                  resources:
                      requests:
                          memory: "64Mi"
                          cpu: "250m"
                      limits:
                          memory: "128Mi"
                          cpu: "500m"
                  livenessProbe: # Self Healing
                      httpGet:
                          path: /
                          port: 8080
                      initialDelaySeconds: 5
                      periodSeconds: 10
